body {
  background-color: rgb(254, 224, 255);
  color: rgb(32, 58, 117);
  margin: 0;
}

.title-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(32, 58, 117);
}

h1 {
  font-size: 40px;
  background-color: rgb(239, 176, 241);
  margin: 0;
  padding: 20px;
}

h3 {
  font-size: 20px;
}

.nav-text {
  font-size: 18px;
  margin: 20px 400px 0 400px;
}

.go-to-links {
  font-size: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(3, 129, 14);
}

.container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(32, 58, 117);
}

.fav-list {
  font-size: 20px;
}

.image-section {
  text-align: center;
} 

h4 {
  font-size: 20px;
  background-color: rgb(239, 176, 241);
  padding: 50px 0 50px 0;
}

  img {
  width: 20%;
  height: 20%;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 20px;
  margin: 70px;
}

.link-list {
  list-style: none;
}